{% extends "base.html" %}

{% block content %}
<style>
    .hero-section {
        text-align: center;
        padding: 1rem;
        background: linear-gradient(200deg, hsl(171, 85%, 41%) 0%, #b45a00 100%);
        border-radius: 20px;
        border: 3px solid #060f8d;
        color: #ffffff;
    }

    .hero-title {
        font-size: 2.5rem;
        font-weight: 800;
        margin-bottom: 1rem;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .platforms-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        margin: 2rem 0;
    }

    .platform-card {
        background: #ffffff;
        border: 1px solid #00000090;
        border-radius: 16px;
        padding: 2rem;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .platform-card h3 {
        color: #000000;
    }
</style>

<div class="hero-section">
    <h1 class="hero-title">AUTOCLICKIP</h1>
    <p>Plataforma de Automação de Rede</p>
</div>

<div class="platforms-grid">
    <div class="platform-card">
        <h3>Juniper Networks</h3>
        <p>Automatize configurações em roteadores Juniper com JunOS.</p>
    </div>
    <div class="platform-card">
        <h3>DmOS (Datacom)</h3>
        <p>Automatize configurações em OLTs e switches Datacom com sistema DmOS.</p>
    </div>
</div>

<div>
    <h3>Como Começar</h3>
    <p>Siga estes passos simples para começar a automatizar sua rede, <a href="https://docs.google.com/document/d/1hJYUeWCeNn9w-JKjtv3k206IGN45Bb_C" >clique aqui para ler a documentação</a></p>
    <ol>
        <li>Faça login após cadastro usando seu tacacs</li>
        <li>Escolha a plataforma no menu lateral esquerdo</li>
        <li>Configure Equipamentos</li>
        <li>Monitore Resultados</li>
    </ol>
</div>

{% endblock content %}